
/* NAVBAR */
.navbar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:999;

    background:transparent !important;
}

/* HERO */
.hero{
    position:relative;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-image: url("../img/ChuvaFimDeTarde.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5); /* escurece imagem */
}

.home-box{
    position:relative;
    z-index:2;
    animation: slideUp 1.2s ease;
}

@keyframes slideUp{
    from{opacity:0; transform:translateY(40px);}
    to{opacity:1; transform:translateY(0);}
}

/* SEÇÕES */
.section{
    padding:80px 20px;
}

/* CARDS */
.card-custom{
    background:rgba(255,255,255,0.08);
    border:none;
    border-radius:15px;
    backdrop-filter:blur(8px);
    color:white;
    transition:0.3s;
}

.card-custom:hover{
    transform:translateY(-8px);
}

/* CTA */
.cta{
    position:relative;
    overflow:hidden;

    background-image: url("../img/ChuvaFimDeTarde.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius:20px;
}
.cta::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.5);
    z-index:1;
}
.cta *{
    position:relative;
    z-index:2;
}


/* BOTÃO */
.btn-light{
    transition:0.3s;
}
.btn-light:hover{
    transform:scale(1.05);
}